<header id="lztv-main-head-wrap" class="left relative">
        <nav id="lztv-main-nav-wrap" class="left relative">
        
			<div id="lztv-main-nav-top" class="left relative">
            <div class="lztv-main-box">
              <div id="lztv-nav-top-wrap" class="left relative">
                <div class="lztv-nav-top-right-out left relative">
                  <div class="lztv-nav-top-right-in">
                    <div class="lztv-nav-top-cont left relative">
                      <div class="lztv-nav-top-left-out relative">
                        <div class="lztv-nav-top-left">
                          <div class="lztv-nav-soc-wrap">
						  {{#if @blog.facebook}}
						  <a href="{{facebook_url}}" target="_blank"><span class="lztv-nav-soc-but fa fa-facebook fa-2"></span></a>
						  {{/if}}
						  {{#if @blog.twitter}}
						  <a href="{{twitter_url}}" target="_blank"><span class="lztv-nav-soc-but fa fa-twitter fa-2"></span></a> 
						  {{/if}}
						  <a href="http://www.instagram.com/lazytechtv" target="_blank"><span class="lztv-nav-soc-but fa fa-instagram fa-2"></span>
						  </a>
						  <a href="https://www.youtube.com/user/lazytechtv" target="_blank"><span class="lztv-nav-soc-but fa fa-youtube-play fa-2"></span>
						  </a>
						  </div>
                          <!--lztv-nav-soc-wrap-->
                          <div class="lztv-fly-but-wrap lztv-fly-but-click left relative">  </div>
                          <!--lztv-fly-but-wrap--> 
                        </div>
                        <!--lztv-nav-top-left-->
                        <div class="lztv-nav-top-left-in">
                          <div class="lztv-nav-top-mid left relative" itemscope="" itemtype="http://schema.org/Organization"> <a class="lztv-nav-logo-reg" itemprop="url" href="/"><img itemprop="logo" src="{{asset "images/logo-large.png"}}" alt="lazytech.tv" data-rjs="2"></a> <a class="lztv-nav-logo-small" href="/"><img src="{{asset "images/logo-nav.png"}}" alt="LZTV Logo" data-rjs="2"></a>
                            <h2 class="lztv-logo-title">lazytech.tv</h2>
							<div class="lztv-drop-nav-title left" style="display: none;">
                              <h4>{{title}}</h4>
                            </div>
                          </div>
                          <!--lztv-nav-top-mid--> 
                        </div>
                        <!--lztv-nav-top-left-in--> 
                      </div>
                      <!--lztv-nav-top-left-out--> 
                    </div>
                    <!--lztv-nav-top-cont--> 
                  </div>
                  <!--lztv-nav-top-right-in--> 
                </div>
                <!--lztv-nav-top-right-out--> 
              </div>
              <!--lztv-nav-top-wrap--> 
            </div>
            <!--lztv-main-box--> 
          </div>
          <!--lztv-main-nav-top-->
			
          <div id="lztv-main-nav-bot" class="left relative" style="margin-top: 0px;">
            <div id="lztv-main-nav-bot-cont" class="left">
              <div class="lztv-main-box">
                <div id="lztv-nav-bot-wrap" class="left">
                  <div class="lztv-nav-bot-right-out left">
                    <div class="lztv-nav-bot-right-in">
                      <div class="lztv-nav-bot-cont left">
                        <div class="lztv-nav-bot-left-out">
                          <div class="lztv-nav-bot-left left relative">
                            <div class="lztv-fly-but-wrap lztv-fly-but-click left relative"> 
							   </div>
                            <!--lztv-fly-but-wrap--> 
                          </div>
                          <!--lztv-nav-bot-left-->
                          <div class="lztv-nav-bot-left-in">
                            <div class="lztv-nav-menu left">
                              <div class="menu-main-menu-container">
                                <ul id="menu-main-menu-1" class="menu">
								<!--####################### NAVIGATION STARTS HERE 23 #########################-->
								{{navigation}}                                  
                                </ul>
                              </div>
                            </div>
                            <!--lztv-nav-menu--> 
                          </div>
                          <!--lztv-nav-bot-left-in--> 
                        </div>
                        <!--lztv-nav-bot-left-out--> 
                      </div>
                      <!--lztv-nav-bot-cont--> 
                    </div>
                    <!--lztv-nav-bot-right-in-->
                    <div class="lztv-nav-bot-right left relative"> 
                      <!--<span class="lztv-nav-search-but fa fa-search fa-2 lztv-search-click"></span>--> 
                    </div>
                    <!--lztv-nav-bot-right--> 
                  </div>
                  <!--lztv-nav-bot-right-out--> 
                </div>
                <!--lztv-nav-bot-wrap--> 
              </div>
              <!--lztv-main-nav-bot-cont--> 
            </div>
            <!--lztv-main-box--> 
          </div>
          <!--lztv-main-nav-bot--> 
        </nav>
        <!--lztv-main-nav-wrap--> 
      </header>