<!DOCTYPE html>
<!-- saved from url=(0087)http://www.mvpthemes.com/zoxnews/your-comprehensive-guide-to-this-falls-biggest-trends/ -->
<html lang="en-US" style="transform: none;">
   <head>
      <title>{{title}}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      
      <meta name="viewport" id="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
      <link rel="pingback" href="{{url}}">
		{{ghost_meta}}
		{{ghost_head}}
      	{{> linked-styles}}
   </head>
   <body class="post-template-default single single-post postid-118 single-format-gallery custom-background" style="transform: none;">
      <div id="lztv-fly-wrap">
         <div id="lztv-fly-menu-top" class="left relative">
            <div class="lztv-fly-top-out left relative">
               <div class="lztv-fly-top-in">
                  <div id="lztv-fly-logo" class="left relative"> <a href="/"><img src="assets/images/logo-nav.png" alt="LZTV" data-rjs="2"></a> </div>
                  <!--lztv-fly-logo--> 
               </div>
               <!--lztv-fly-top-in-->
               <div class="lztv-fly-but-wrap lztv-fly-but-menu lztv-fly-but-click"> <span></span> <span></span> <span></span> <span></span> </div>
               <!--lztv-fly-but-wrap--> 
            </div>
            <!--lztv-fly-top-out--> 
         </div>
         <!--lztv-fly-menu-top-->
         <div id="lztv-fly-menu-wrap">
            <nav class="lztv-fly-nav-menu left relative" tabindex="5000" style="overflow: hidden; outline: none;"> </nav>
         </div>
         <!--lztv-fly-menu-wrap-->
         <div id="lztv-fly-soc-wrap"> <span class="lztv-fly-soc-head">Connect with us</span> {{> social-icons}} </div>
         <!--lztv-fly-soc-wrap--> 
      </div>
      <!--lztv-fly-wrap-->
      <div id="lztv-site" class="left relative" style="transform: none;">
         <div id="lztv-search-wrap">
            <div id="lztv-search-box">
               <form method="get" id="searchform" action="{{url}}">
                  <input type="text" name="s" id="s" value="Search" onfocus="if (this.value == &quot;Search&quot;) { this.value = &quot;&quot;; }" onblur="if (this.value == &quot;&quot;) { this.value = &quot;Search&quot;; }">
                  <input type="hidden" id="searchsubmit" value="Search">
               </form>
            </div>
            <!--lztv-search-box-->
            <div class="lztv-search-but-wrap lztv-search-click"> <span></span> <span></span> </div>
            <!--lztv-search-but-wrap--> 
         </div>
         <!--lztv-search-wrap-->
         <div id="lztv-site-wall" class="left relative" style="transform: none;">
            {{> billboard-ad}}
            <div id="lztv-site-main" class="left relative" style="transform: none;">

               {{> header}} 
               <!--lztv-main-head-wrap-->
               <div id="lztv-main-body-wrap" class="left relative" style="transform: none; margin-top: 0px;">
                  <article id="lztv-article-wrap" itemscope="" itemtype="http://schema.org/NewsArticle" style="transform: none;">
                     <meta itemscope="" itemprop="mainEntityOfPage" itemtype="https://schema.org/WebPage" itemid="{{@blog.url}}">
                     <div class="lztv-main-body-max">
                        <div id="lztv-post-feat-img-wide" class="left relative">
                           <div id="lztv-post-feat-img" class="left relative lztv-post-feat-img-wide2" itemprop="image" itemscope="" itemtype="https://schema.org/ImageObject">
                              <img style="opacity:1;" width="1600" height="960" src="{{asset "images/lztv-whoops.jpg"}}" class="lztv-reg-img wp-post-image" alt="" srcset="{{asset "images/lztv-whoops.jpg"}} 1600w, {{asset "images/lztv-whoops.jpg"}} 300w, {{asset "images/lztv-whoops.jpg"}} 768w, {{asset "images/lztv-whoops.jpg"}} 1024w, {{asset "images/lztv-whoops.jpg"}} 1000w, {{asset "images/lztv-whoops.jpg"}} 590w, {{asset "images/lztv-whoops.jpg"}} 400w" sizes="(max-width: 1600px) 100vw, 1600px"> <img width="560" height="600" src="{{asset "images/lztv-whoops.jpg"}}" class="lztv-mob-img wp-post-image" alt="">
                              <meta itemprop="url" content="{{asset "images/lztv-whoops.jpg"}}">
                              <meta itemprop="width" content="1000">
                              <meta itemprop="height" content="600">
                           </div>
                           <!--lztv-post-feat-img-->
                           
                           <!--lztv-post-feat-text-wrap--> 
                           <span class="lztv-feat-caption">
                              <!--Photo: Shutterstock-->
                           </span>
                        </div>
                        <!--lztv-post-feat-img-wide--> 
                     </div>
                     <!--lztv-main-body-max-->
                     <div id="lztv-article-cont" class="left relative" style="transform: none;">
                        <div class="lztv-main-box" style="transform: none;">
                           <div id="lztv-post-main" class="left relative" style="transform: none;">
						   <div id="lztv-post-content" class="left relative" style="transform: none;">
                                    <div id="lztv-content-wrap" class="left relative" style="transform: none;">
                                       <div class="lztv-post-soc-out right relative" style="transform: none;">
                                          <div class="lztv-post-soc-in">
                                             <div id="lztv-content-body" class="left relative">
                                                <div class="lztv-cont-read-wrap">
                                                   <div id="lztv-post-bot-ad" class="left relative"> <span class="lztv-ad-label"><!--Advertisement--></span> <a href="#somead" target="_blank"><img class="lztv-leader4" src="{{asset "images/lztv728.png"}}"><img class="lztv-leader3" src="{{asset "images/lztv300.png"}}"></a> </div>
                                                   <!--lztv-post-bot-ad-->
                                                   {{!> related-box}}
                                                   <!--lztv-related-posts-->
                                                </div>
                                                <!--lztv-cont-read-wrap--> 
                                             </div>
                                             <!--lztv-content-body--> 
                                          </div>
                                          <!--lztv-post-soc-in--> 
                                       </div>
                                       <!--lztv-post-soc-out--> 
                                    </div>
                                    <!--lztv-content-wrap-->
                                    <div id="lztv-post-add-box"> </div>
                                    <!--lztv-post-add-box--> 
                                 </div>
                              <div class="lztv-post-main-out left relative" style="transform: none;">
                                 <div class="lztv-post-main-in" style="transform: none;">
                                    
                                 <!--lztv-post-content--> 
                              </div>
                              <!--lztv-post-main-in-->
                              
                              <!--lztv-side-wrap--> 
                           </div>
                           <!--lztv-post-main-out--> 
						   {{> related}}
                        </div>
                        <!--lztv-post-main-->
                        
                        <!--lztv-post-more-wrap--> 
                     </div>
                     <!--lztv-main-box--> 
               </div>
               <!--lztv-article-cont--> 
               </article>
               <!--lztv-article-wrap--> 
            </div>
            <!--lztv-main-body-wrap-->
            {{> footer}}
         </div>
         <!--lztv-site-main--> 
      </div>
      <!--lztv-site-wall--> 
      </div>
      <!--lztv-site-->
      <div class="lztv-fly-top back-to-top"> <i class="fa fa-angle-up fa-3"></i> </div>
      <!--lztv-fly-top-->
      <div class="lztv-fly-fade lztv-fly-but-click"> </div>
      <!--lztv-fly-fade-->
     
      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      
	{{> tons-of-javascript}}
	  
      </div>
   </body>
</html>